*{
  box-sizing: border-box;
}
body{
  background-color: #B6D0E2;
  background-image: linear-gradient(315deg, #B6D0E2 0%, #f5f7f7 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: #a8d6ee;
  border-radius: 25px;
  shape-outside: circle(50%);
  width: 600px;
  box-shadow: 0 0 55px 15px #1b2919;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 0 10px 5px #48abe0,
  0 0 20px 7px #ebecca,
  0 0 25px 20px #48abe063,
  0 0 30px 25px #1495ff;
}





.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: help;
}
button:hover{
  background-color: #03cae4;
  
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: help;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:focus{
  outline: show;
  background-color: #44b927;
  border-radius: 35px;
}